plugins {
    id("java")
    id("application")
}

group = "{{group_name}}"
version = "1.0-SNAPSHOT"

repositories {
    mavenCentral()
}

dependencies {
    implementation(libs.bundles.camel)
    implementation(libs.bundles.logging)
    testImplementation(libs.bundles.testing)

    {%- if enable_lombok %}
    // Lombok
    compileOnly(libs.lombok)
	annotationProcessor(libs.lombok)
    testCompileOnly(libs.lombok)
	testAnnotationProcessor(libs.lombok)
    {%- endif %}
}

application {
    mainClass.set("{{group_name}}.Program")
}

tasks.test {
    useJUnitPlatform()
}