package {{group_name}};

import org.apache.camel.main.Main;

public class Program {
    public static void main(String[] args) throws Exception {
        Main main = new Main();
        main.run(args);
    }
}
