[versions]
camel     = "{{camel_version}}"
junit     = "5.10.0"
log4j     = "2.25.1"
jansi     = "2.4.2"
lombok    = "1.18.38"

[libraries]
# Camel Core
camel-core        = { module = "org.apache.camel:camel-core", version.ref = "camel" }
camel-main        = { module = "org.apache.camel:camel-main", version.ref = "camel" }

camel-endpointdsl = { module = "org.apache.camel:camel-endpointdsl", version.ref = "camel" }
camel-yaml        = { module = "org.apache.camel:camel-yaml-dsl", version.ref = "camel" }
camel-timer       = { module = "org.apache.camel:camel-timer", version.ref = "camel" }
camel-http        = { module = "org.apache.camel:camel-http", version.ref = "camel" }

junit-jupiter     = { module = "org.junit.jupiter:junit-jupiter", version.ref = "junit" }

log4j-api         = { module = "org.apache.logging.log4j:log4j-api", version.ref = "log4j" }
log4j-core        = { module = "org.apache.logging.log4j:log4j-core", version.ref = "log4j" }
log4j-slf4j       = { module = "org.apache.logging.log4j:log4j-slf4j2-impl", version.ref = "log4j" }
jansi             = { module = "org.fusesource.jansi:jansi", version.ref = "jansi" }

lombok            = { module = "org.projectlombok:lombok", version.ref = "lombok" }

[bundles]
camel   = ["camel-core", "camel-main", "camel-endpointdsl", "camel-yaml", "camel-timer", "camel-http"]
testing = ["junit-jupiter"]
logging = ["log4j-api", "log4j-core", "log4j-slf4j", "jansi"]
